// colores
$blanco : #FFF;
$negro : #000;
$gris : #666;
$grisOscuro: #333;
$grisClaro : #efefef;
$turquesa: #005d62;
$turquesaClaro: #3bb69d;
$naranja: #f09350;	
$turquesamenu: #15877f;
$verdemenu: #88c380;
$moramenu: #ad98c8;

$ctg-turquesa: #4d9e8b;
$ctg-verde: #80af78;
$ctg-morado: #a077c2;
$ctg-naranja: #dc792e;

/*Morado : ad98c8
Verde Limon: 88c380
Naranja claro: f09350
Naranja oscuro: ff6a00
Turquesa claro: 3bb69d
turquesa oscuro:005d62*/

// tipos
$tipo: 'Roboto', sans-serif;

@mixin transicion($val){
	-webkit-transition: $val;
	-moz-transition: $val;
	-o-transition: $val;
	transition: $val;
}


// requiere compass/css3
@mixin flexo{
	@include display-flex(flex);
	@include align-items(flex-end);
	@include justify-content(center);
}

@mixin flexo2{
	@include display-flex(flex);
	@include align-items(start);
	@include justify-content(center);
}

@mixin flexo3{
	@include display-flex(flex);
	@include align-items(center);
	@include justify-content(center);
}

@mixin wyh {
	width: 100%;
	height: auto;
}


@mixin cualpais {
  @if & {
    #block-views-eventos-block & {
      color: $turquesa;
    }
  }
  @if & {
    #block-views-eventos-nicaragua-block & {
      color: $naranja;
    }
  }
   @else {
    #noexiste {
    color: red;
    }
  }
}


