@import "mixins.scss";


@media only screen and (min-width: 1440px) {
	
}


@media only screen and (max-width: 1440px) { // Laptop L
	
}


@media only screen and (max-width: 1024px) { // Laptop

	section#menuPrincipal{
	article{
		// **** submenus del menú principal
		.subMenuBox{
				.wrapColsMenu{
					.menuCols{
						width: 170px!important;
					}
				}
			}
		}
		article:nth-child(1){
			transform: translateX(-5%)!important;
    		-webkit-transform: translateX(-5%)!important;
		}
	}
}


@media only screen and (max-width: 992px) {
		#block-block-1{
		figure.logo{
			a{
				display: block!Important;
				text-align: center!Important;
				img{
					
				}
			}
		}
	}
	.view-salud-humana, 
	.view-cuidado-bebe, 
	.view-cuidado-personal, 
	.view-salud-animal{
		.view-content{
			.views-row{
				.views-field-title{
					span{
						a{
							font-size: 1.1em!Important;
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 768px) {


	.view-eventos, .view-eventos-nicaragua {
		.views-row{
			@include flex-wrap(wrap);
			border-bottom: 1px solid $grisOscuro!important;
			.views-field{
				margin: 8px 0;
				text-align: center;
			}
		}
		.views-field-field-fecha{
			width: 100%!important;
			font-size: 1.2em!Important;
		}
		.views-field-field-direcci-n{
			
		}
		.views-field-field-lugar{
			width: 45%!important;
		}
		.views-field-field-telefono{
			width: 100%!important;
		}
	}

	.node-type-productos, 
	.node-type-cuidado-del-bebe, 
	.node-type-salud-animal, 
	.node-type-salud-humana {
		.col-sm-5{
			> .field{
				margin-right: 0px!important;
			}
		}
	}

	#top-inside{
		.region-top{
			padding: 12px 0;
			#block-search-form{
				width: 100%!important;
				.container-inline{
					width: 100%;
					@include flexo3;
					.form-item-search-block-form{
						width: 75%!important;
						margin: 20px 0!important;
						}
					}
					.form-item-search-block-form{
					input{
						width: 100%!important;
					}
				}
			}
		}
	}

	// redes sociales
	#top-inside{
		.region-top{
			#block-block-6{
				width: 100%!important;
				margin-top: 20px;
				}
			}
		}

	// logo 	// menu mobil
	#block-block-27, #block-block-26{
		display: block!important;
	}

	#block-block-1{
		display: none!important;
	}

	// menu menu desktop
	#block-block-7{
		display: none;
	}
	#block-block-26{
		display: block!important;
		width: 100%;
		text-align: center;
		img{
			margin: 0 auto;
		}
	}

	.page-node-84{
		#main-content{
			.container{
				.row{
					> aside, > section{
						width: 100%!important;
					}
					> aside{
						margin-right: 0%!important; 
					}
				}
			}
		}
	}
	section.wrapperCatgFrontPage{
		article{
			width: 48%!important;
			.hidenBox{
				.texto{
					strong, span { 
						font-size: 0.75em!important; 
						}
					}
				}
			}
		}

	.view-testimonios {
		.views-row{
			.lado-izquierdo, .lado-derecho{
				width: 100%!important;
			}
			.lado-izquierdo{
				width: 24%;
				.views-field-field-edad, 
				.views-field-field-nombre{
				}
				.views-field-field-nombre{
				}
			}
			.lado-derecho{
					
			}
		}
	}
	
}

@media only screen and (max-width: 480px){
	#top{
		#header-top{
			.container{
				margin: 0!important;
				padding: 0!important;
			}
		}
	}

	.node-type-productos{
		.col-sm-5{
			> .field{
				padding-right: 0px!important;
			}
		}
	}

	section.wrapperCatgFrontPage{
		article{
			width: 49.4%!important;
			.hidenBox{
				.texto{
					strong, span { font-size: 1.2em!important }
					} 
				} 
			}
		}  

	.view-salud-humana, 
	.view-cuidado-bebe, 
	.view-cuidado-personal, 
	.view-salud-animal{
		.view-content{
			.views-row{
				width: 100%!Important;
			}
		}
	}

}

@media only screen and (max-width: 320px) {
	
}







