
@import "compass/reset";
@import "compass/css3";
@import "mixins.scss";
@import "vistas.scss";
@import "responsive.scss";

body{
 background: $blanco;
}

/*Heading*/
h1, h2, h3, h4, h5, h6, a, p, div {
		font-family: $tipo;
	}
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	line-height: 120%;
	padding: 0;
	margin: 20px 0 10px 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #444; }

h1 { font-size: 36px }
h2 { font-size: 30px }
h3 { font-size: 24px }
h4 { font-size: 20px }
h5 { font-size: 18px }
h6 { font-size: 16px }
h1.page-title { font-size: 32px; }

strong, * strong{
	font-weight: bolder;
	font-weight: 700;
}

* i, * em{
	font-style:italic
}


#breadcrumb{
	display:none;
}

// zona top

#top-inside{
	.region-top{
		@include flexo3;
		@include flex-wrap(wrap);
		@include justify-content(flex-end);
		padding: 12px 0;
		#block-search-form{  // buscador
			width: 250px;
			.form-item-search-block-form, .form-actions{
				float: left;
				vertical-align: top;
			}
			.form-item{
				margin: 0px;
			}
			.form-item-search-block-form{
				input{
					display: block;
				    width: 170px;
				    padding: .5rem .75rem;
				    font-size: 0.7em;
				    line-height: 1.25;
				    color: $grisOscuro;
				    height: 34px;
				    margin: 0;
				    background-color: #fff;
				    background-image: none;
				    background-clip: padding-box;
				    border: 1px solid rgba(0,0,0,.15);
				    border-radius: .25rem;
				    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
				    &:focus{
				    	color: grisOscuro;
					    background-color: #fff;
					    border-color: #80bdff;
					    outline: 0;
				    }
				}
			}
			.form-actions{
				input{
					background: $turquesa;
					width: 34px;
					height: 34px;
					border:none;
					margin-left: -5px;
					background-image: url(/sites/default/files/lupa.png);
					background-repeat: no-repeat;
					background-size: 25px 25px;
    				background-position: 4px;
				}
			}
		}
		#block-block-6{ // block de las redes sociales
			width:250px;
		}
	}
}

#header-top{
	background-color: #f9f9f9;
	border-top: solid 1px #aeaeae;
}

#header-top-inside{
	    margin-bottom: 15px;
	    margin-top: 15px;
}
#content-wrapper{
	> h1{
		sup{
			font-size: 0.7em;
		}
	}
}


.region.region-banner {
	margin-bottom: 25px;
}

// =-=-=-=-=-=-=-  Logo

#block-block-1{
	figure.logo{
		a{
			display: block;
			img{
				@include wyh;
				max-width: 230px;
			}
		}
	}
}
// logo mobil
#block-block-27{
	display: none;
	width: 100%;
	text-align: center;
	img{
		margin: 0 auto;
	}
}

// =-=-=-=-=-=-=-  Redes Sociales

.redesSocialesTop, .redesSocialesMobil{
	text-align: center;
	a{
		width: 50px;
		height: 48px;
		overflow: hidden;
		display: inline-block;
		margin-left: 5px;
		img{
			@include transicion(300ms);
		}
		&:hover{
			img{
				margin-top: -48px;
			}
		}
	}
	article{
		display: inline-block;
    	padding: 0 12px;
		figure{
			img{
				width: 15px;
				height: auto;
			}
		}
		.texto{
			color: $grisOscuro;
			text-transform: uppercase;
			font-size: 0.5em;
		}
	}
	article:nth-child(1){
		border-right: solid 1px darkcyan;
	}
}

.redesSocialesMobil{
	display: none;
}

// menu principal

section#menuPrincipal{
	height: 90px;
	@include flexo3;
	@include justify-content(space-around);
	article{
		position: relative;
		> .item{
			text-transform: uppercase;
			cursor: pointer;
			font-size: 0.8em;
		    border-left: solid 1px #999;
		    padding: 10px;
		    margin-top: 35px;
		    a{
		    	color: $turquesa;
		    }
		}
		// **** submenus del menú principal
		.subMenuBox{
			display: none;
			position: absolute;
			z-index: 5;
			padding: 12px;
			margin-top: 10px;
			transform: translateX(-30%);
			-webkit-transform: translateX(-30%);
				.wrapColsMenu{
					@include flexo2;
					@include align-items(stretch);
					.menuCols{
						margin: 8px 12px 8px 8px;
						min-width: 250px;
						line-height: 1.5em;
						ul{
							margin-bottom: 14px;
							li{
								list-style-type: disc;
								list-style-position: inside;
								color: $blanco;
								h2{
									font-size: 1em;
								}
								h3, a h3{
									font-size: 1em;
								}
								a{
									font-size: 0.9em;
									text-transform: capitalize;
									color: $blanco;
								}
							}
							li:nth-child(1){
								list-style-type: none;

							}
						}
					}
				}
		}
		ul{
			li{

				h3, a{
					color: $blanco;
				}
				h3{
					font-size: 18px;
					margin: 0;
					padding: 0;
				}
				a{
					text-decoration: none;
					font-size: 12px;
					@include transicion(300ms);
					&:hover{
						color: lighten($naranja, 20%);
					}
				}
			}
		}
	}
	//salud humana
	article:nth-child(1){
		.subMenuBox{
			background: $turquesamenu;
		}
		&:before{
				position: absolute;
				display: none;
				z-index: 6;
				content: " ";
				top:-10px;
				left:calc(50% - 5px);
				top: calc(100% - 10px);
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 10px 10px 10px;
				border-color: transparent transparent $turquesamenu transparent;
			}
		&:hover::before{
			display: block;
		}
	}
	//cuidado del bebe
	article:nth-child(2){
		.subMenuBox{
			background: $verdemenu;
		}
		&:before{
			position: absolute;
			display: none;
			z-index: 6;
			content: " ";
			top:-10px;
			left:calc(50% - 5px);
			top: calc(100% - 10px);
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 10px 10px 10px;
			border-color: transparent transparent $verdemenu transparent;
		}
		&:hover::before{
			display: block;
		}
	}
	//cuidado personal
	article:nth-child(3){
		.subMenuBox{
			background: $moramenu;
		}
		&:before{
			position: absolute;
			display: none;
			z-index: 6;
			content: " ";
			top:-10px;
			left:calc(50% - 5px);
			top: calc(100% - 10px);
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 10px 10px 10px;
			border-color: transparent transparent $moramenu transparent;
		}
		&:hover::before{
			display: block;
		}
	}
	// salud animal
	article:nth-child(4){
		.subMenuBox{
			background: $naranja;
			transform: translateX(-50%);
			-webkit-transform: translateX(-50%);
				.wrapColsMenu{
					.menuCols{
						&:nth-child(2){
							border-right: solid 1px $blanco;
							margin-top: 55px;
						}
					}
				}
			h2{
				font-size: 1.2em;
    			color: white;
			}
		}
		&:before{
			position: absolute;
			display: none;
			z-index: 6;
			content: " ";
			top:-10px;
			left:calc(50% - 5px);
			top: calc(100% - 10px);
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 10px 10px 10px;
			border-color: transparent transparent $naranja transparent;
		}
		&:hover::before{
			display: block;
		}
	}

	article:nth-child(5){
		.subMenuBox{
			background: $grismedio;
		}
		&:before{
			position: absolute;
			display: none;
			z-index: 6;
			content: " ";
			top:-10px;
			left:calc(50% - 5px);
			top: calc(100% - 10px);
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 10px 10px 10px;
			border-color: transparent transparent $grismedio transparent;
		}
		&:hover::before{
			display: block;
		}
	}
	article:nth-child(6){
		.subMenuBox{
			background: $grismedio;
		}
		&:before{
			position: absolute;
			display: none;
			z-index: 6;
			content: " ";
			top:-10px;
			left:calc(50% - 5px);
			top: calc(100% - 10px);
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 10px 10px 10px;
			border-color: transparent transparent $grismedio transparent;
		}
		&:hover::before{
			display: block;
		}
	}
	article:nth-child(7){
		.item{
			border-right: solid 1px #999;
		}
	}
	article:nth-child(8){
		.item{
			border-left: none;
		}
	}
}

#block-system-main-menu{
	h2{display: none;}
	ul.menu{
		@include flexo2;
		li{
			list-style: none;
			a{
				text-transform: uppercase;
				color: $turquesa;
				a:hover{

				}
			}
		}
	}
}

// ******************  breadcrumb

#breadcrumb{
	#breadcrumb-inside{
		ol{
			background: $blanco;
			li{
				font-size: 0.7em;
				color: $grisOscuro;
				a{
				  color: $turquesa;
				}
			}
		}
	}
}

// slider para movil
#block-block-35{
  display: none;
}


.front{
	.page-title{
		display: none;
	}
}

// ******************  Page

#page{
	margin-bottom: 30px;
}

// .............  seccion categorías en front pages

section.wrapperCatgFrontPage{
	margin-top: 30px;
	@include flexo2;
	@include flex-wrap(wrap);
	@include justify-content(space-between);
	article{
		position: relative;
		width: 20%;
		overflow: hidden;
		figure.imgGrande{
			img{
				@include wyh;
			}
		}
		figure.imgTxt{
			width: 100%;
			top:70%;
			position: absolute;
			text-align: center;
			img{
				width: 60%;
				@include transicion(300ms);
			}
		}
		.hidenBox{
			position: absolute;
			top:100%;
			left:0;
			width: 100%;
			height: 100%;
			@include flexo3;
			@include flex-wrap(wrap);
			@include transicion(300ms);
			.texto{
				width: 100%;
				strong{
					display: block;
					margin-top: 50px;
				}
			}
			strong, span{
				text-transform: uppercase;
				color: $blanco;
				font-size: 0.7em;
				display: block;
				text-align: center;
			}
			strong{
				font-weight: bolder;
				font-weight: 700;
				font-size: 1.1em;
				line-height: 1.2em;
			}
			span{
				font-weight: 300;
				font-size: 1.5em;
				line-height: 1.2em;
			}
			.boton{
				display: block;
			    width: 100%;
			    color: $blanco;
			    cursor: pointer;
			    border: 2px solid $blanco;
			    padding: 14px;
			    text-transform: uppercase;
			    max-width: 120px;
			    text-align: center;
			    font-weight: 300;
			    @include transicion(300ms);
			    &:hover{
			    	background: $blanco;
			    	color: $negro;
			    }
			}
		}
		&:hover{
			.hidenBox{
				top:0;
				left:0;
			}
			figure.imgTxt{
				display: none;
			}
		}
	}
	article:nth-child(1){
		.hidenBox{
			background: rgba($ctg-turquesa, 0.8);
			}
	}
	article:nth-child(2){
		.hidenBox{
			background: rgba($ctg-verde, 0.8);
			}
	}
	article:nth-child(3){
		.hidenBox{
			background: rgba($ctg-morado, 0.8);
			}
	}
	article:nth-child(4){
		.hidenBox{
			background: rgba($ctg-naranja, 0.8);
		}
	}
}

// detalle de productos

.node-type-productos,
.node-type-cuidado-del-bebe,
.node-type-salud-animal,
.node-type-salud-humana {
	.node{
		margin-top: 30px;
	}
	.col-sm-5{
		> .field{
			margin-right: 30px;
		}
	}
	h1.page-title{display:none}
	.field-label{
		text-transform: uppercase;
		padding: 8px 0 8px 45px;
		margin-bottom: 20px;
		position: relative;
	}
	.field-item{
		ul{
			li{
				list-style-type: disc;
				margin-left: 17px;
			}
		}
	}
	.field-item{
		ul li, p, {
			color: $grisOscuro;
			font-size: 0.95em;
			line-height: 22px;
			text-align: justify;
		}
	}

	.field-name-field-descripcion-corta{
		.field-label{
			display: none;
		}
	}

	.field-name-field-imagen-producto{
		text-align: center;
		.field-label{
			display: none;
		}
		.field-item{
			padding: 16px;
			img{
				@include wyh;
				max-width: 350px;
			}
		}
	}
	.field-name-title{
		display: none;
	}
	.field-name-field-presentacion-breve{
		.field-label{
			display: none;
		}
		text-transform: uppercase;
		text-align: center;
		color: $gris;
		padding: 5px 0 10px 0;
		letter-separation: 1px;
	}
	.field-name-field-descripcion-corta{
		p{
			padding: 12px 0;
			text-align: center;
			color: $naranja;
			line-height: 25px;
			border-top: solid 1px $turquesa;
			margin-top: 12px;
		}
	}

	// indicaciones genéricas

	.field-name-field-indicaciones,
	.field-name-field-acciones,
	.field-name-field-dosis-sugerida,
	.field-name-field-informacion-adicional,
	.field-name-field-presentacion,
	.field-name-field-beneficios,
	.field-name-field-imagen-ingredientes,
	.field-name-field-ingredientes,
	.field-name-field-ingredientes-clave {
		margin-bottom: 20px;
	}

	// Indicaciones por cada field


	.field-name-field-indicaciones{
		.field-label{
			background: $blanco;
			color: $turquesa;
			padding: 8px 0 8px 12px;
		}
		.field-item{
			padding: 10px 12px 12px 12px;
			ul{
				li{
					list-style-type: disc;
					margin-left: 17px;
				}
			}
		}
	}

	.field-name-field-descripcion-producto {
		.field-label{
			display: none;
		}
			.field-item{
			ul li, p, {
				color: $grisOscuro;
				font-size: 0.95em;
				line-height: 22px;
				text-align: justify;
			}
		}
	}

	// ============  TITULO ALTERNO  =============== //

	.field-name-field-titulo-alterno{
		.field-label{
			display: none;
		}
		h1{
			color: $turquesa;
			font-size: 1.9em;
			text-align: center;
		}
	}

	// ============  BENEFICIOS  =============== //

	.field-name-field-beneficios{
		.field-label{
			cursor: pointer;
			margin-bottom: 0px;
			&:after{

				background-repeat: no-repeat;
				/*background: url("/sites/default/files/flecha_abajo_blanca.png");*/
				content: "";
			    width: 19px;
			    height: 17px;
			    position: absolute;
			    z-index: 2;
			    content: "";
			    right:10px;
			    top: 10px;
			    background-size: 85%;
				background-repeat: no-repeat;
			}
		}
		.field-items{
			display: none;
			border-right: solid 1px $grisClaro;
			border-left: solid 1px $grisClaro;
			border-bottom: solid 1px $grisClaro;
			padding: 20px 12px 12px 12px;

			h5{
				color:$naranja;
				font-size: 1em;

			}
		}
		.field-label:before{
			background-image: url("/sites/default/files/iconoshimalaya/icon_beneficios.png");
		    width: 30px;
		    height: 35px;
		    position: absolute;
		    z-index: 2;
		    content: "";
		    left: 10px;
		    top: 3px;
		    background-size: 85%;
    		background-repeat: no-repeat;
		}
		.field-item{
			h2{
				color: $moramenu;
				p{

				}
			}
		}
	}

	// ============  INGREDIENTES  =============== //

	.field-name-field-ingredientes{
		table{
			font-size: 0.7em;
			color: $grisOscuro;
		}
		.field-label{
			cursor: pointer;
			text-align: center;
			margin-bottom: 0px;
			padding: 8px 0 8px 0px;
			&:after{
				background: url("/sites/default/files/flecha_abajo_blanca.png");
				background-repeat: no-repeat;
				content: "";
			    width: 19px;
			    height: 17px;
			    position: absolute;
			    z-index: 2;
			    content: "";
			    right:10px;
			    top: 10px;
			    background-size: 85%;
				background-repeat: no-repeat;
			}
		}
		.field-items{
			display: none;
			border-right: solid 1px $grisClaro;
			border-left: solid 1px $grisClaro;
			border-bottom: solid 1px $grisClaro;
			padding: 10px 12px 12px 12px;
			max-height: 300px;
			overflow: auto;
		}
		.field-item{
			img{
				@include wyh;
			}
		}
		.field-label:before{
			background-image: url("/sites/default/files/iconoshimalaya/icon_ingredientes.png");
		    width: 30px;
		    height: 35px;
		    position: absolute;
		    z-index: 2;
		    content: "";
		    left: 10px;
		    top: 3px;
		    background-size: 85%;
    		background-repeat: no-repeat;
		}
	}

	// ============  INFORMACION ADICIONAL  =============== //

	.field-name-field-informacion-adicional{
		.field-label{
			cursor: pointer;
			margin-bottom: 0px;
			&:after{
				background: url("/sites/default/files/flecha_abajo_blanca.png");
				background-repeat: no-repeat;
				content: "";
			    width: 19px;
			    height: 17px;
			    position: absolute;
			    z-index: 2;
			    content: "";
			    right:10px;
			    top: 10px;
			    background-size: 85%;
				background-repeat: no-repeat;
			}
		}
		.field-items{
			display: none;
			border-right: solid 1px $grisClaro;
			border-left: solid 1px $grisClaro;
			border-bottom: solid 1px $grisClaro;
			padding: 20px 12px 12px 12px;
		}
		.field-label:before{
			background-image: url("/sites/default/files/iconoshimalaya/icon_info.png");
		    width: 30px;
		    height: 35px;
		    position: absolute;
		    z-index: 2;
		    content: "";
		    left: 10px;
		    top: 3px;
		    background-size: 85%;
    		background-repeat: no-repeat;
		}
	}

	// ============  PRESENTACION  =============== //

	.field-name-field-presentacion{
		background: $grisClaro;
		padding: 8px;
		color: $blanco;
		text-align: center;
		text-transform: uppercase;
		.field-label{
			font-weight: bolder;
			background: $grisClaro;
			color: $turquesa;
			margin: 10px;
			padding: 8px 0;
		}
		.field-item{
			font-weight: lighter;
			font-size: 12px;
			letter-separation: 1px;
			color: $negro;
			text-align: center !important;
		}
	}


	// ============  MODO DE USO  =============== //

	.field-name-field-modo-de-uso, .field-name-field-modo-uso{
		.field-label{
			cursor: pointer;
			margin-bottom: 0;
			&:after{
				background: url("/sites/default/files/flecha_abajo_blanca.png");
				background-repeat: no-repeat;
				content: "";
			    width: 19px;
			    height: 17px;
			    position: absolute;
			    z-index: 2;
			    content: "";
			    right:10px;
			    top: 10px;
			    background-size: 85%;
				background-repeat: no-repeat;
			}
		}
		.field-items{
			display: none;
			border-right: solid 1px $grisClaro;
			border-left: solid 1px $grisClaro;
			border-bottom: solid 1px $grisClaro;
			padding: 20px 12px 12px 12px;
		}
		.field-label:before{
			background-image: url("/sites/default/files/iconoshimalaya/icon_modo_uso.png");
		    width: 30px;
		    height: 35px;
		    position: absolute;
		    z-index: 2;
		    content: "";
		    left: 10px;
		    top: 3px;
		    background-size: 85%;
    		background-repeat: no-repeat;
    	}
		.field-item{
			h2{
				color: $turquesa;
				p{

				}
			}
		}
	}


	// ============  ESTUDIOS CLINICOS  =============== //

	.field-name-field-estudios-clinicos{
		.field-label{
			display: none;
		}
		.field-item{
			text-align: center;
			a{
				background: $turquesa;
				color: $blanco;
				padding: 10px;
				display: block;
			}
		}
	}

	// ============  IMAGEN INGREDIENNTES  =============== //

	.field-name-field-imagen-ingredientes{
		.field-label{
			margin-bottom: 0px;
			&:after{

				background-repeat: no-repeat;
				/*background: url("/sites/default/files/flecha_abajo_blanca.png");*/
				content: "";
			    width: 19px;
			    height: 17px;
			    position: absolute;
			    z-index: 2;
			    content: "";
			    right:10px;
			    top: 10px;
			    background-size: 85%;
				background-repeat: no-repeat;
			}
		}

		.field-label:before{
			background-image: url("/sites/default/files/iconoshimalaya/icon_ingredientes.png");
		    width: 30px;
		    height: 35px;
		    position: absolute;
		    z-index: 2;
		    content: "";
		    left: 2px;
		    top: 2px;
		    background-size: 85%;
    		background-repeat: no-repeat;
		}
		.field-items{
			border-right: solid 1px $grisClaro;
			border-left: solid 1px $grisClaro;
			border-bottom: solid 1px $grisClaro;
		}
		.field-item {
			img{
				width: 95%;
    			height: auto;
    			display: block;
    			margin: auto;
			}
		}

	}

	// ============  INGREDIENTES CLAVE  =============== //

	.field-name-field-ingredientes-clave{
		.field-label{
			margin-bottom: 0px;
			&:after{

				background-repeat: no-repeat;
				/*background: url("/sites/default/files/flecha_abajo_blanca.png");*/
				content: "";
			    width: 19px;
			    height: 17px;
			    position: absolute;
			    z-index: 2;
			    content: "";
			    right:10px;
			    top: 10px;
			    background-size: 85%;
				background-repeat: no-repeat;
			}
		}

		.field-label:before{
			background-image: url("/sites/default/files/iconoshimalaya/icon_ingredientes.png");
		    width: 30px;
		    height: 35px;
		    position: absolute;
		    z-index: 2;
		    content: "";
		    left: 2px;
		    top: 2px;
		    background-size: 85%;
    		background-repeat: no-repeat;
		}
		.field-items{
			border-right: solid 1px $grisClaro;
			border-left: solid 1px $grisClaro;
			border-bottom: solid 1px $grisClaro;
		}
		.field-item {
			img{
				width: 95%;
    			height: auto;
    			display: block;
    			margin: auto;
			}
		}

	}


	// ============  ACCCIONES  =============== //

	.field-name-field-acciones {
		.field-label{
			cursor: pointer;
			margin-bottom: 0px;
			&:after{
				background: url("/sites/default/files/flecha_abajo_blanca.png");
				background-repeat: no-repeat;
				content: "";
			    width: 19px;
			    height: 17px;
			    position: absolute;
			    z-index: 2;
			    content: "";
			    right:10px;
			    top: 10px;
			    background-size: 85%;
				background-repeat: no-repeat;
			}
		}
		.field-items{
			display: none;
			border-right: solid 1px $grisClaro;
			border-left: solid 1px $grisClaro;
			border-bottom: solid 1px $grisClaro;
			padding: 20px 12px 12px 12px;
		}
		.field-label:before{
			background-image: url("/sites/default/files/iconoshimalaya/icon_acciones.png");
		    width: 30px;
		    height: 35px;
		    position: absolute;
		    z-index: 2;
		    content: "";
		    left: 10px;
		    top: 3px;
		    background-size: 85%;
    		background-repeat: no-repeat;
		}
		table{
			max-width: 80%;
			min-width: 285px;
			border: solid 1px #ddd;
			margin: 20px auto;
			tr:nth-child(1){
				background: $grisClaro;
				td{

				}
			}
		}
	}


	// ============  DOSIS SUGERIDA  =============== //

	.field-name-field-dosis-sugerida{
		.field-label{
			cursor: pointer;
			margin-bottom: 0px;
			&:after{
				background: url("/sites/default/files/flecha_abajo_blanca.png");
				background-repeat: no-repeat;
				content: "";
			    width: 19px;
			    height: 17px;
			    position: absolute;
			    z-index: 2;
			    content: "";
			    right:10px;
			    top: 10px;
			    background-size: 85%;
				background-repeat: no-repeat;
			}
		}
		.field-label:before{
			background-image: url("/sites/default/files/iconoshimalaya/icon_dosis.png");
		    width: 30px;
		    height: 35px;
		    position: absolute;
		    z-index: 2;
		    content: "";
		    left: 10px;
		    top: 3px;
		    background-size: 85%;
    		background-repeat: no-repeat;
		}
		.field-items{
			display: none;
			border-right: solid 1px $grisClaro;
			border-left: solid 1px $grisClaro;
			border-bottom: solid 1px $grisClaro;
			padding: 20px 12px 12px 12px;
		}
		table{
			max-width: 80%;
			min-width: 285px;
			border: solid 1px #ddd;
			margin: 20px auto;
			tr:nth-child(1){
				background: $grisClaro;
				td{

				}
			}
		}
	}

	// ============  INFORMATIVOS VETERINARIOS  =============== //

	.field-name-field-informativos-veterianrios{
		margin-top: 20px;
		.field-label{
			display: none;
		}
		.field-item{
			text-align: center;
			a{
				background: #005d62;
			    color: #FFF;
			    padding: 10px;
			    display: block;
			}
		}
	}
}


// ===== >>> Colores que son diferentes en cada categoría

.node-type-productos { // este es cuidado personal
		h4{
			color: $verdemenu;
		}
	.field-label{
		background: $verdemenu;
		color: $blanco;
	}
	.field-name-field-indicaciones{
		.field-label{
			display: none;
		}
	}
	.ofield-name-field-titulo-altern {
		display: none;
	}
	.field-name-title{
		display: block;
		text-align: center;
		.field-item{
			h1{
				color: $verdemenu;
				font-size: 1.9em;
			}
		}
	}
	.field-name-field-beneficios{
		.field-items{
			display: block!important;
		}
	}
}

// ===== >>> Cuidado del bebe

.node-type-cuidado-del-bebe{
	h4{
		color: $moramenu;
	}
	.field-label{
		background: $moramenu;
		color: $blanco;
	}
	.field-name-field-indicaciones{
		.field-label{
			display: none;
		}
	}
	.field-name-field-titulo-alterno {
		display: none;
	}
	.field-name-title{
		display: block;
		text-align: center;
		.field-item{
			h2{
				color: $moramenu;
				font-size: 1.9em;
			}
		}
	}
	.field-name-field-descripcion-corta{
		.field-item{
			p{
				color: #a6cb32;
			}
		}
	}
	.field-name-field-beneficios{
		.field-items{
			display: block!important;
		}
	}
}

// ===== >>> Salud animal

.node-type-salud-animal{
		h4{
			color: $naranja;
		}
	.field-label{
		background: $naranja;
		color: $blanco;
	}
	.field-name-field-especies-de-animales{
		.field-item{
			img{
				@include wyh;
			}
		}
	}
	.field-name-field-titulo-animal{
		.field-label{
			display: none;
		}
		h1{
			color: $naranja;
			text-align: center;
			font-size: 1.9em;
		}
	}
	.field-name-field-indicaciones{
		.field-label{
			margin-bottom: 0;
		}
	}
	.field-name-field-descripcion-corta{
		.field-item{
			p{
				color: $turquesa;
			}
		}
	}
	.field-name-field-presentacion{
		p{
			text-align: center;
		}
	}
	.field-name-field-dosis-sugerida{
		.field-item{
			table{
				p.rtecenter{
					text-align: center;
				}
			}
		}
	}
	.field-name-field-titulo-alterno{
		.field-item{
			h1{
				sup{
					font-size: 0.6em;
				}
			}
		}
	}
}

// ===== >>> Salud humana

.node-type-salud-humana{
	h4{
		color: $turquesamenu;
	}
	.field-label{
		background: $turquesamenu;
		color: $blanco;
	}
	.field-name-field-presentacion{
		p{
			text-align: center;
		}
	}
	.field-name-field-indicaciones{
		.field-label{
			margin-bottom: 0;
		}
	}
	.field-name-field-titulo-alterno{
		.field-item{
			h1{
				sup{
					font-size: 0.6em;
				}
			}
		}
	}
}


// Footer

#footer{
	background: $turquesa;
	padding: 30px 0;
	text-align: center;
	#block-block-5, #block-block-4{
		p{
			color: $blanco;
			font-size: 0.8em;
    		line-height: 23px;
		}
	}
}

// PAGINA DE RESULTADOS DE BUSQUEDAS

.page-search{
	.content{
		li, p{
			font-size: 0.7em;
		    line-height: 22px;
		    color: #999;
		}
	}
}

.maintenance-page{
	background: $grisClaro;
}

// ****************   menus de filtrado

section.menuFiltroVista{
	margin-top: 30px;
	line-height: 25px;
	ul.nivelUno{
		> li{
			border-bottom: solid 1px $turquesa;
		}
		li{
			padding: 7px 0;
			cursor: pointer;

			> div{
				text-transform: uppercase;
				color: darken($gris, 10%);
				position: relative;
				@include transicion(300ms);
				&:hover{
					color: $turquesa;
				}
				&:after{
					background-image: url("/sites/default/files/flecha_abajo.png");
					background-repeat: no-repeat;
					width: 19px;
					height: 12px;
					position: absolute;
					right: 0;
				    top: 0;
					content: "";
				}
			}
			ul.nivelDos{
				display: none;
				margin-top: 8px;
				li{
					margin-left: 20px;
					font-size: 12px;
					color: $gris;
					a{
						font-size: 1.3em;
						color: $grisOscuro;
					}
				}
			}
		}
	}
}

.page-salud-humana{
	.page-title{
		display: none;
	}
}
.page-salud-animal{
	.page-title{
		display: none;
	}
}

.page-cuidado-bebe{
	.page-title{
		display: none;
	}
}
.page-cuidado-personal{
	.page-title{
		display: none;
	}
}

// ************  Preguntas Freuentes

.page-node-87{
	.page-title{
		display: none;
	}
}

.wrapTodo{
	.pregunta{
		border-bottom: solid 1px $grisClaro;
		padding: 12px 0;
		.inpregunta{
			text-transform: uppercase;
			position: relative;
			color: $gris;
			cursor: pointer;
			line-height: 20px;
    		font-size: 0.9em;
    		padding-right: 30px;
    		text-align: justify;
    			&:hover{
					color: lighten($turquesa, 10%);
				}
    			&:after{
				    background: url(/sites/default/files/flecha_abajo.png);
				    background-repeat: no-repeat;
				    content: "";
				    width: 19px;
				    height: 17px;
				    position: absolute;
				    z-index: 2;
				    content: "";
				    right: 10px;
				    top: 10px;
				    background-size: 85%;
				    background-repeat: no-repeat;
    			}
			}
		}
		.inresp{
			padding: 12px;
			display: none;
			text-align: justify;
			p{
				font-size: 14px;
			    line-height: 24px;
			    color: $turquesa;
			}
		}
	}

	h2:nth-of-type(1){
		color: $turquesa;

	}
	h2:nth-of-type(2){
		color: $naranja;

	}
	h2:nth-of-type(3){
		color: $verdemenu;


	}
	h2:nth-of-type(4){
		color: $moramenu;


	}


// Página Mision Visión

.wrapMisionVision, .wrapValores{
	h2{
		text-transform: uppercase;
		text-align: center;
	}
}

.wrapMisionVision{
	@include flexo2;
	@include flex-wrap(wrap);
	article{
		min-width: 250px;
		width: 30%;
		margin: 0 12px;
		h2{
			text-align: center;
			color: $turquesa
		}
		p{
			color: $gris;
			text-align: justify;
		}
	}
	article:nth-child(2){
		h2{
			color: $naranja;
		}
	}
}

.wrapValores{
	margin-top: 30px;
	h2{
		color: $turquesa;
	}
	.wrapIcons{
		@include flexo3;
		@include flex-wrap(wrap);
		figure{
			text-align: center;
			min-width: 200px;
			width: 22%;
			margin: 0 10px;
			img{
				max-width: 100%;
			}
		}
	}
}

// Página Mision Visión

.wrapLab{
	margin-bottom: 40px;
	display: inline-block;
	width: 100%;
	p{
		color: $gris;
	}
	figure{
		img{
			width: 100%;
		}
	}
}

// Página de contáctenos

.page-node-84{
	.page-title{
		display: none;
	}
	#main-content{
		.container{
			.row{
				@include flexo2;
				@include flex-wrap(wrap);
				> aside, > section{
					width: 47%;
				}
				> aside{
					margin-right: 5%;
				}
				section{
					.form-actions{
						text-align: center;
						input.webform-submit{
							background: #005d62;
						    border: none;
						    color: white;
						    padding: 12px 20px;
						    @include transicion(300ms);
						    &:hover{
						    	background: $naranja;
						    }
						}
					}
				}
			}
		}
	}
}

#block-block-14{
	.info{
		font-size: 14px;
		line-height: 20px;
		margin: 18px 0;
		.titulo{
			text-transform: uppercase;
			color: $blanco;
			padding: 8px;
			font-size: 1.1em;
			margin-bottom: 18px;
		}
		strong{
			font-weight: bold;
			font-weight: 700;
		}
	}
	.content{
		div:nth-of-type(1){
			.titulo{
				background: $turquesa;
			}
		}
		div:nth-of-type(3){
			.titulo{
				background: $naranja;
			}
		}
	}

	.mapa{
		iframe{
			width: 100%!important;
		}
	}
}


// menu mobil

#block-block-26{
	display: none;
	.menuMobilToggle{
		text-transform: uppercase;
		font-size: 1.5em;
		background: $turquesa;
		padding: 12px;
		color: $blanco;
		cursor: pointer;
	}
	nav.menuMobli{
		text-transform: uppercase;
		ul li div{ padding: 12px 0; }
		ul.nivelUno{
			li{
				border-bottom: 1px solid $grisClaro;
				color: $turquesa;
				a{
					color: $turquesa;
					text-decoration: none;
				}
				.link{
					padding: 12px 0;
					position: relative;
				}
				.toggle{
					&:after{
					    background: url(/sites/default/files/flecha_abajo.png);
					    background-repeat: no-repeat;
					    content: "";
					    width: 19px;
					    height: 17px;
					    position: absolute;
					    z-index: 2;
					    right: 10px;
					    top: 10px;
					    background-size: 85%;
					    background-repeat: no-repeat;
					}
				}
				ul.nivelDos{
					display: none;
					background-color: $grisClaro;
					li{
						.liNivel2{
							div{
								font-size: 0.8em;
								text-transform: capitalize;
							}
						}
					}
				}
			}
		}
	}
}

// página de laboratorio

#node-16,
#node-18,
#node-17
	{
		.content{
			p, li{
				color: $gris;
				line-height: 22px;
				text-align: justify;
			}
			li{
				list-style-type: disc;
			}
		}
	}


body{
	display:inherit!important;
}
