
@import "compass/reset";
@import "compass/css3";
@import "mixins.scss";
@import "vistas.scss";
@import "responsive.scss";

body{
 background: $blanco;
}

/*Heading*/
h1, h2, h3, h4, h5, h6, a, p, div { 
		font-family: $tipo;
	}
h1, h2, h3, h4, h5, h6 { 
	font-weight: 700; 
	line-height: 120%; 
	padding: 0; 
	margin: 20px 0 10px 0; 
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #444; }

h1 { font-size: 36px }
h2 { font-size: 30px }
h3 { font-size: 24px }
h4 { font-size: 20px }
h5 { font-size: 18px }
h6 { font-size: 16px }
h1.page-title { font-size: 32px; }

#breadcrumb{
	display:none;
}

// zona top

#top-inside{
	.region-top{
		@include flexo3;
		@include flex-wrap(wrap);
		@include justify-content(flex-end);
		padding: 12px 0;
		#block-search-form{  // buscador
			.form-item-search-block-form, .form-actions{
				float: left;
				vertical-align: top;
			}
			.form-item{
				margin: 0px;
			}
			.form-item-search-block-form{
				input{
					display: block;
				    width: 100%;
				    padding: .5rem .75rem;
				    font-size: 0.7em;
				    line-height: 1.25;
				    color: #495057;
				    height: 34px;
				    margin: 0;
				    background-color: #fff;
				    background-image: none;
				    background-clip: padding-box;
				    border: 1px solid rgba(0,0,0,.15);
				    border-radius: .25rem;
				    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
				    &:focus{
				    	color: #495057;
					    background-color: #fff;
					    border-color: #80bdff;
					    outline: 0;
				    }
				}
			}
			.form-actions{
				input{
					background: $turquesa;
					width: 34px;
					height: 34px;
					border:none;
					margin-left: -5px;
				}
			}

		}
		#block-block-6{ // block de las redes sociales
			width:150px;
		}
	}
}

// =-=-=-=-=-=-=-  Logo

#block-block-1{
	figure.logo{
		a{
			display: block;
			img{
				@include wyh;
				max-width: 280px;
			}
		}
	}
}

// =-=-=-=-=-=-=-  Redes Sociales

.redesSocialesTop{
	text-align: center;
	article{
		display: inline-block;
		figure{
			img{
				width: 15px;
				height: auto;
			}
		}
		.texto{
			color: $grisOscuro;
			text-transform: uppercase;
			font-size: 0.5em;
		}
	}
}

// menu principal

section#menuPrincipal{
	height: 90px;
	@include flexo3;
	@include justify-content(space-around);
	article{
		position: relative;
		> .item{
			color: $turquesa;
			text-transform: uppercase;
			cursor: pointer;
			font-size: 0.7em;
		    border-left: solid 1px #999;
		    padding: 10px;
		}
		// **** submenus del menú principal
		.subMenuBox{
			display: none;
			position: absolute;
			z-index: 5;
			padding: 12px;
			margin-top: 10px;
			transform: translateX(-30%);
			-webkit-transform: translateX(-30%);
				.wrapColsMenu{
					@include flexo2;
					@include align-items(stretch);
					.menuCols{
						margin: 8px 12px 8px 8px;
						min-width: 180px;
						ul{
							margin-bottom: 14px;
							li{
								h2{
									font-size: 1em;
								}
								h3, a h3{
									font-size: 0.9em;
								}
								a{
									font-size: 0.7em;
								}
							}
						}
					}					
				}
		}
		ul{
			li{
				
				h3, a{
					color: $blanco;
				}
				h3{
					font-size: 18px;
					margin: 0;
					padding: 0;
				}
				a{
					text-decoration: none;
					font-size: 12px;
					@include transicion(300ms);
					&:hover{
						color: lighten($naranja, 20%);
					}
				}
			}
		}
	}
	//salud humana
	article:nth-child(1){
		.subMenuBox{
			background: $turquesamenu;
		}
		&:before{
				position: absolute;
				display: none;
				z-index: 6;
				content: " ";
				top:-10px;
				left:calc(50% - 5px);
				top: calc(100% - 10px);
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 10px 10px 10px;
				border-color: transparent transparent $turquesamenu transparent;
			}
		&:hover::before{
			display: block;
		}
	}
	//cuidado del bebe
	article:nth-child(2){
		.subMenuBox{
			background: $moramenu;
		}
		&:before{
			position: absolute;
			display: none;
			z-index: 6;
			content: " ";
			top:-10px;
			left:calc(50% - 5px);
			top: calc(100% - 10px);
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 10px 10px 10px;
			border-color: transparent transparent $moramenu transparent;
		}
		&:hover::before{
			display: block;
		}
	}
	//cuidado personal
	article:nth-child(3){
		.subMenuBox{
			background: $verdemenu;
		}
		&:before{
			position: absolute;
			display: none;
			z-index: 6;
			content: " ";
			top:-10px;
			left:calc(50% - 5px);
			top: calc(100% - 10px);
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 10px 10px 10px;
			border-color: transparent transparent $verdemenu transparent;
		}
		&:hover::before{
			display: block;
		}
	}
	article:nth-child(4){
		.subMenuBox{
			background: $naranja;
			transform: translateX(-50%);
			-webkit-transform: translateX(-50%);
		}
		&:before{
			position: absolute;
			display: none;
			z-index: 6;
			content: " ";
			top:-10px;
			left:calc(50% - 5px);
			top: calc(100% - 10px);
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 10px 10px 10px;
			border-color: transparent transparent $naranja transparent;
		}
		&:hover::before{
			display: block;
		}
	}
	article:nth-child(5), article:nth-child(6){
		.subMenuBox{
			background: $gris;
		}
		&:before{
			position: absolute;
			display: none;
			z-index: 6;
			content: " ";
			top:-10px;
			left:calc(50% - 5px);
			top: calc(100% - 10px);
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 10px 10px 10px;
			border-color: transparent transparent $gris transparent;
		}
		&:hover::before{
			display: block;
		}
	}
}

#block-system-main-menu{
	h2{display: none;}
	ul.menu{
		@include flexo2;
		li{
			list-style: none;
			a{
				text-transform: uppercase;
				color: $turquesa;
				a:hover{
					
				}
			}
		}
	}
}

// ******************  breadcrumb

#breadcrumb{
	#breadcrumb-inside{
		ol{
			background: $blanco;
			li{
				font-size: 0.7em;
				color: $grisOscuro;
				a{
				color: $turquesa;	
				}
			}
		}
	}
}

// ******************  Page

#page{
	margin-bottom: 30px;
}

// .............  seccion categorías en front pages

section.wrapperCatgFrontPage{
	@include flexo2;
	@include flex-wrap(wrap);
	@include justify-content(space-between);
	article{
		position: relative;
		width: 20%;
		overflow: hidden;
		figure.imgGrande{
			img{
				@include wyh;
			}
		}
		figure.imgTxt{
			width: 100%;
			top:70%;
			position: absolute;
			text-align: center;
			img{
				width: 60%;
				@include transicion(300ms);
			}
		}
		.hidenBox{
			position: absolute;
			top:100%;
			left:0;
			width: 100%;
			height: 100%;
			@include flexo3;
			@include flex-wrap(wrap);
			@include transicion(300ms);
			.texto{

			}
			strong, span{
				text-transform: uppercase;
				color: $blanco;
				font-size: 0.7em;
				display: block;
				text-align: center;
			}
			strong{
				font-weight: bolder;
				font-weight: 700;
				font-size: 0.7em;
			}
			span{
				font-weight: 300;
				font-size: 0.8em;
			}
			.boton{
				display: block;
			    width: 100%;
			    color: $blanco;
			    cursor: pointer;
			    border: 2px solid $blanco;
			    padding: 14px;
			    text-transform: uppercase;
			    max-width: 120px;
			    text-align: center;
			    font-weight: 300;
			    @include transicion(300ms);
			    &:hover{
			    	background: $blanco;
			    	color: $negro;
			    }
			}
		}
		&:hover{
			.hidenBox{
				top:0;
				left:0;
			}
			figure.imgTxt{
				display: none;
			}
		}
	}
	article:nth-child(1){
		.hidenBox{
			background: rgba($ctg-turquesa, 0.8);
			}
	}
	article:nth-child(2){
		.hidenBox{
			background: rgba($ctg-verde, 0.8);
			}
	}
	article:nth-child(3){
		.hidenBox{
			background: rgba($ctg-morado, 0.8);
			}
	}
	article:nth-child(4){
		.hidenBox{
			background: rgba($ctg-naranja, 0.8);
			}
	}
}

// detalle de productos

.node-type-productos, 
.node-type-cuidado-del-bebe, 
.node-type-salud-animal, 
.node-type-salud-humana{
	h1.page-title{display:none}
	.field-label{
		text-transform: uppercase;
		padding: 8px 0 8px 45px;
		margin-bottom: 20px;
		position: relative;
	}
	ul{
		li{
			list-style-type: disc;
		}
	}
		.field-item{
			ul li, p{
				color: $grisOscuro;
				font-size: 0.8em;
				line-height: 22px;
			}
		}
		.field{
			margin-bottom: 20px;
		}

	.field-name-field-descripcion-corta{
		.field-label{
			display: none;
		}
	}

	.field-name-field-imagen-producto{
		text-align: center;
		.field-label{
			display: none;
		}
		.field-item{
			padding: 16px;
			img{
				@include wyh;
				max-width: 350px;
			}
		}
	}
	.field-name-title{
		text-transform: uppercase;
		color: $turquesa;
		font-weight: bolder;
		text-align: center;
	}
	.field-name-field-presentacion-breve{
		.field-label{
			display: none;
		}
		text-transform: uppercase;
		text-align: center;
		color: $gris;
		padding: 12px 0;
		letter-separation: 1px;
		border-bottom: solid 1px $naranja;
	}
	.field-name-field-descripcion-corta{
		padding: 12px 0;
		text-align: center;
		color: $naranja;
		line-height: 25px;
	}
	.field-name-field-indicaciones{
		.field-label{
			background: $blanco;
			color: $turquesa;
		}
		.field-item{
			ul{
				li{
					list-style-type: disc;
					margin-left: 17px;
				}
			}
		}
	}
	.field-name-field-beneficios{
		.field-label{
			cursor: pointer;
		}
		.field-items{
			display: none;
		}
		.field-label:before{
			background-image: url("/himalaya/sites/default/files/iconoshimalaya/icon_beneficios.png");
		    width: 38px;
		    height: 35px;
		    position: absolute;
		    z-index: 2;
		    content: "";
		    left: 2px;
		    top: 2px;
		    background-size: 85%;
    		background-repeat: no-repeat;
		}
		.field-item{	
			h2{
				color: $turquesa;
				p{
					
				}
			}
		}
	}
	.field-name-field-ingredientes{
		table{
			font-style: italic;
			font-size: 0.7em;
			color: $grisOscuro;
		}
		.field-label{
			cursor: pointer;
		}
		.field-items{
			display: block;
		}
		.field-item{
			img{
				@include wyh;
			}
		}
		.field-label:before{
			background-image: url("/himalaya/sites/default/files/iconoshimalaya/icon_ingredientes.png");
		    width: 38px;
		    height: 35px;
		    position: absolute;
		    z-index: 2;
		    content: "";
		    left: 2px;
		    top: 2px;
		    background-size: 85%;
    		background-repeat: no-repeat;
		}
	}
	.field-name-field-informacion-adicional{
		.field-items{
			display: none;
		}
		.field-label{
			cursor: pointer;
		}
		.field-label:before{
			background-image: url("/himalaya/sites/default/files/iconoshimalaya/icon_info.png");
		    width: 38px;
		    height: 35px;
		    position: absolute;
		    z-index: 2;
		    content: "";
		    left: 2px;
		    top: 2px;
		    background-size: 85%;
    		background-repeat: no-repeat;
		}
	}
	.field-name-field-presentacion{
		background: $grisClaro;
		padding: 8px;
		color: $blanco;
		text-align: center;
		text-transform: uppercase;
		.field-label{
			font-weight: bolder;
			background: $grisClaro;
			color: $turquesa;
			margin: 10px;
		}
		.field-item{
			font-weight: lighter;
			font-size: 12px;
			letter-separation: 1px;
			color: $negro;
		}
	}
	.field-name-field-modo-uso{
		.field-label{
			cursor: pointer;
		}
		.field-items{
			display: none;
		}
		.field-label:before{
			background-image: url("/himalaya/sites/default/files/iconoshimalaya/icon_modo_uso.png");
		    width: 38px;
		    height: 35px;
		    position: absolute;
		    z-index: 2;
		    content: "";
		    left: 2px;
		    top: 2px;
		    background-size: 85%;
    		background-repeat: no-repeat;
		}
	}

	.field-name-field-estudios-clinicos{
		.field-item{
			text-align: center;
			a{
				background: $turquesa;
				color: $blanco;
				padding: 10px;
				display: block;
			}
		}
	}
	.field-name-field-imagen-ingredientes{
		.field-label{
			display: none;
		}
		.field-item {
			img{
				@include wyh;
			}
		}
	}
	.field-name-field-acciones{
		.field-items{
			display: none;
		}
		.field-label{
			cursor: pointer;
		}
		.field-label:before{
			background-image: url("/himalaya/sites/default/files/iconoshimalaya/icon_acciones.png");
		    width: 38px;
		    height: 35px;
		    position: absolute;
		    z-index: 2;
		    content: "";
		    left: 2px;
		    top: 2px;
		    background-size: 85%;
    		background-repeat: no-repeat;
		}
	}
	.field-name-field-dosis-sugerida{
		.field-items{
			display: none;
		}
		.field-label{
			cursor: pointer;
		}
		.field-label:before{
			background-image: url("/himalaya/sites/default/files/iconoshimalaya/icon_dosis.png");
		    width: 38px;
		    height: 35px;
		    position: absolute;
		    z-index: 2;
		    content: "";
		    left: 2px;
		    top: 2px;
		    background-size: 85%;
    		background-repeat: no-repeat;
		}
	}
}

	
.node-type-productos { // este es cuidado personal
		h4{
			color: $verdemenu;
		}
	.field-label{
		background: $verdemenu;
		color: $blanco;
	}
}
.node-type-cuidado-del-bebe{
		h4{
			color: $moramenu;
		}
	.field-label{
		background: $moramenu;
		color: $blanco;
	}
}
.node-type-salud-animal{
		h4{
			color: $naranja;
		}
	.field-label{
		background: $naranja;
		color: $blanco;
	}
	.field-name-field-especies-de-animales{
		.field-item{
			img{
				@include wyh;
			}
		}
	}
}
.node-type-salud-humana{
		h4{
			color: $turquesamenu;
		}
	.field-label{
		background: $turquesamenu;
		color: $blanco;
	}
}

// Footer

#footer{
	background: $turquesa;
	padding: 30px 0;
	#block-block-5, #block-block-4{
		p{
			color: $blanco;
			font-size: 0.8em;
    		line-height: 23px;
		}
	}
}

// PAGINA DE RESULTADOS DE BUSQUEDAS

.page-search{
	.content{
		li, p{
			font-size: 0.7em;
		    line-height: 22px;
		    color: #999;
		}
	}
}


.maintenance-page{
	background: $grisClaro;
}


// ****************   menus de filtrado

section.menuFiltroVista{
	margin-top: 30px;
	ul.nivelUno{
		li{
			margin-bottom: 8px;
			cursor: pointer;
			> div{
				text-transform: uppercase;
				color: darken($gris, 10%);
				@include transicion(300ms);
				&:hover{
					color: $turquesa;
				}
			}
			ul.nivelDos{
				display: none;
				margin-top: 8px;
				li{
					margin-left: 20px;
					font-size: 12px;
					color: $gris;
				}
			}
		}
	}
}

.page-salud-humana{
	.page-title{
		display: none;
	}
}

// ************  Preguntas Freuentes

.page-node-87{
	.page-title{
		display: none;
	}
}

.wrapTodo{
	.pregunta{
		border-bottom: solid 1px $grisClaro;
		padding: 12px 0;
		.inpregunta{
			text-transform: uppercase;
			color: $gris;
			cursor: pointer;
			&:hover{
				color: lighten($turquesa, 10%);
			}
		}
		.inresp{
			padding: 12px;
			display: none;
			p{
				font-size: 14px;
			    line-height: 24px;
			}
		}
	}

	h2:nth-of-type(1){
		color: $turquesa;
	}
	h2:nth-of-type(2){
		color: $naranja;
	}
	h2:nth-of-type(3){
		color: $verdemenu;
	}
	h2:nth-of-type(4){
		color: $moramenu;
	}
}







