@import "compass/css3";
@import "mixins.scss";

// salud humana

.view-salud-humana, 
.view-cuidado-bebe, 
.view-cuidado-personal, 
.view-salud-animal {
	.view-content{
			@include flexo2;
			@include flex-wrap(wrap);
		.views-row{
			width: 31%;
			text-align: center;
			margin: 0 8px 20px 8px;
			.views-field-field-imagen-producto{
				a{
					img{
						@include wyh;
					}
				}
			}
			.views-field-title{
				a{
					font-weight: bolder;
					color: $gris;
					text-decoration: none;
					font-size: 1.3em;
					line-height:1.3em;
				}
			}
			.views-field-field-presentacion-breve{
				color: $gris;
				text-transform: uppercase;
				border-bottom: $turquesamenu solid 2px;
				font-size: 0.8em;
				display: inline-block;
			    padding: 5px;
			    margin: 10px;
			}
			.views-field-field-descripcion-corta{
				font-size: 0.75em;
			}
			.views-field-field-categoria{
				font-size: 0.7em;	
			}
		}
	}
}


//  *************  página de Eventos

.page-node-115{
	.page-title{
		display: none;
	}
}

.view-eventos, .view-eventos-nicaragua {
	.views-row{
		padding: 16px 0px 16px 0px;
		border-bottom: 1px $grisClaro solid;
		@include flexo2;
		@include justify-content(space-around);
			@each $feventos in fecha, pais, direcci-n, lugar, telefono {
				.views-field-field-#{$feventos} {
					font-size: 0.85em;
			}
		}
		.views-field-title, 
		.views-field-field-pais, 
		.views-field-field-provincias-cr, 
		.views-field-field-provincias-nica { 
			display: none;
		}
	}

	.views-field-field-fecha{
		width: 20%;
		color: $turquesa;
		font-weight: bolder;
		font-weight: 700;
	}
	.views-field-field-direcci-n{
		width: 45%;
	}
	.views-field-field-lugar{
		width: 25%;
	}
	.views-field-field-telefono{
		width: 15%;
		font-weight: bolder;
		font-weight: 700;
	}
}
.views-field-field-fecha{
	@include cualpais;  // detecta a cual pais pertenece y le pone el color correspondiente
}

//  Block eventos provincias de Costa Rica y municipios de Nicaragua
#block-block-15 {
	color: $turquesa;
}
#block-block-16 {
	color: $naranja;
}
#block-block-15, #block-block-16{
	margin: 20px 0;
	.content{
		text-align: center;
		text-transform: uppercase;
		h2{
			font-weight: 300;
			font-weight: lighter;
		}
	}
	.wrapProvinciasEventos, .wrapEventosNica{
		@include flexo3;
		@include flex-wrap(wrap);
		.provincia{
			cursor: pointer;
			padding: 12px;
			box-sizing: border-box;
			border-bottom: 2px solid $blanco;
		}
	}
	.wrapProvinciasEventos{
		.provincia{
			&:hover{
				border-bottom: 2px solid $turquesa;
			}
		}
	} 
	.wrapEventosNica{
		.provincia{
			&:hover{
				border-bottom: 2px solid $naranja;
			}
		}
	}
}
#block-views-eventos-block, #block-views-eventos-nicaragua-block{
	h2{display:none}
}
#block-block-16{
	h2{
		color: $naranja;
	}
}

// testimonios en productos

#anchoTotal-inside{
	background: $grisClaro;
	padding: 30px 0;
}
#block-views-testimonios-block{
	> h2{ display: none; }
}
.vermasTest, .vermenosTest{
	background: $turquesa;
	color: $blanco;
	&:hover{
		background: lighter($turquesa, 20%);
		color: $blanco;
	}
}

.view-testimonios {
	.view-content{

	}
	.views-row{
		height: 0;
		overflow: hidden;
		@include display-flex(flex);
		@include flex-wrap(wrap);
		@include align-items(start);
		@include justify-content(center);
		.lado-izquierdo, .lado-derecho{
			margin-bottom: 30px;
		}
		.lado-izquierdo{
			width: 24%;
			.views-field-field-edad, 
			.views-field-field-nombre{
				color: $turquesa;
				font-size: 1.2em;
				text-transform: uppercase;
				margin-bottom: 20px;
			}
			.views-field-field-nombre{
				font-weight: bolder;
			}
		}
		.lado-derecho{
			width: 70%;
			padding-left: 20px;
			border-left: solid 2px $turquesa;
			h2{
				padding: 0;
				margin: 0 0 20px 0;
			}
			.views-field-field-testimonio{
				p{
					font-size: 14px;
					line-height: 22px;
				}
			}
			.views-field-field-producto{
				display: none;
			}
		}
		.views-fieldset{
			legend{display:none}
		}
	}
}







